<%- include('../layout/headsection')-%>

<section class="about-section">
    <div class="about-container">

       
        <div class="about-image">
            <img src="https://i.pinimg.com/736x/a4/0b/ac/a40bac98036979b7d364b122ff168f08.jpg" alt="Profile Photo">
        </div>

   
        <div class="about-content">
            <h1>About Me</h1>
            <h2>Full Stack Developer • Problem Solver • Designer</h2>
            <p>
                I am passionate about building beautiful, functional and responsive web apps.
                With experience in frontend, backend, databases and UI/UX — I enjoy turning 
                ideas into digital realities.
            </p>

            <a href="/contact" class="about-btn">Contact Me</a>
        </div>

    </div>
</section>

<%- include('../layout/footer')-%>

